@import "tailwindcss";

body {
  margin: 0;
}

@font-face {
  font-family: 'Marianne';
  src: url('/src/fonts/Marianne-Regular.woff2') format('woff2'), url('/src/fonts/Marianne-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-marianne: 'Marianne', sans-serif;
}